apks/
Daily-Fails/platforms/android/assets/
Daily-Fails/platforms/android/bin/
Daily-Fails/platforms/android/gen/
Daily-Funnies/platforms/android/assets/
Daily-Funnies/platforms/android/bin/
Daily-Funnies/platforms/android/gen/
Daily-Hotties/platforms/android/assets/
Daily-Hotties/platforms/android/bin/
Daily-Hotties/platforms/android/gen/
Daily-Hunks/platforms/android/assets/
Daily-Hunks/platforms/android/bin/
Daily-Hunks/platforms/android/gen/
Daily-Memes/platforms/android/assets/
Daily-Memes/platforms/android/bin/
Daily-Memes/platforms/android/gen/
Daily-Uglies/platforms/android/assets/
Daily-Uglies/platforms/android/bin/
Daily-Uglies/platforms/android/gen/
Daily-Weirdos/platforms/android/assets/
Daily-Weirdos/platforms/android/bin/
Daily-Weirdos/platforms/android/gen/
Daily-Wins/platforms/android/assets/
Daily-Wins/platforms/android/bin/
Daily-Wins/platforms/android/gen/
Daily-Dogs/platforms/android/assets/
Daily-Dogs/platforms/android/bin/
Daily-Dogs/platforms/android/gen/
Daily-Cats/platforms/android/assets/
Daily-Cats/platforms/android/bin/
Daily-Cats/platforms/android/gen/
I-Love-Justin-Bierber/platforms/android/assets/
I-Love-Justin-Bierber/platforms/android/bin/
I-Love-Justin-Bierber/platforms/android/gen/
I-Love-Katy-Perry/platforms/android/assets/
I-Love-Katy-Perry/platforms/android/bin/
I-Love-Katy-Perry/platforms/android/gen/
I-Love-Lady-Gaga/platforms/android/assets/
I-Love-Lady-Gaga/platforms/android/bin/
I-Love-Lady-Gaga/platforms/android/gen/
I-Love-Miley-Cyrus/platforms/android/assets/
I-Love-Miley-Cyrus/platforms/android/bin/
I-Love-Miley-Cyrus/platforms/android/gen/
I-Love-Nicki-Minaj/platforms/android/assets/
I-Love-Nicki-Minaj/platforms/android/bin/
I-Love-Nicki-Minaj/platforms/android/gen/
I-Love-One-Direction/platforms/android/assets/
I-Love-One-Direction/platforms/android/bin/
I-Love-One-Direction/platforms/android/gen/
I-Love-Rihanna/platforms/android/assets/
I-Love-Rihanna/platforms/android/bin/
I-Love-Rihanna/platforms/android/gen/
I-Love-Ryan-Gosling/platforms/android/assets/
I-Love-Ryan-Gosling/platforms/android/bin/
I-Love-Ryan-Gosling/platforms/android/gen/
I-Love-Taylor-Swift/platforms/android/assets/
I-Love-Taylor-Swift/platforms/android/bin/
I-Love-Taylor-Swift/platforms/android/gen/
I-Love-Zac-Efron/platforms/android/assets/
I-Love-Zac-Efron/platforms/android/bin/
I-Love-Zac-Efron/platforms/android/gen/
